[submodule "cli/yosys"]
	path = cli/yosys
	url = https://github.com/YosysHQ/yosys.git
[submodule "cli/slang"]
	path = cli/slang
	url = https://github.com/MikePopoloski/slang.git
[submodule "testproj/picorv32"]
	path = testproj/picorv32
	url = https://github.com/YosysHQ/picorv32.git
[submodule "testproj1/picorv32"]
	path = testprojs/testproj1/picorv32
	url = https://github.com/YosysHQ/picorv32.git
